{
  "only": [
    "./src",
    "./node_modules/react-select"
  ],
  "presets": ["@babel/env", "@babel/react", "@babel/flow"],
  "plugins": [
  	"@babel/plugin-proposal-class-properties",
  	"@babel/plugin-proposal-object-rest-spread",
  	"lodash"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
